html, body  {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  background-color: #000;
 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

